[Unit]
Description=Mount KUBECONFIGS volume to /etc/summit-connect/.kubeconfigs
After=blockdev@dev-disk-by\x2did-virtio\x2dKUBECONFIGS.target
Requires=blockdev@dev-disk-by\x2did-virtio\x2dKUBECONFIGS.target

[Mount]
What=/dev/disk/by-id/virtio-KUBECONFIGS
Where=/etc/summit-connect/.kubeconfigs
Type=iso9660
Options=ro,relatime,nojoliet,check=s,map=n,blocksize=2048,iocharset=utf8

[Install]
WantedBy=multi-user.target