[Unit]
Description=Mount KUBECONFIGS volume to /etc/summit-connect/.kubeconfigs

[Mount]
What=/dev/disk/by-id/virtio-KUBECONFIGS
Where=/etc/summit-connect/.kubeconfigs
Type=iso9660
Options=ro,relatime,nojoliet,check=s,map=n,blocksize=2048,iocharset=utf8

[Install]
WantedBy=multi-user.target