[Unit]
Description=Mount CONFIG volume to /etc/summit-connect/config
After=blockdev@dev-disk-by\x2did-virtio\x2dCONFIG.target
Requires=blockdev@dev-disk-by\x2did-virtio\x2dCONFIG.target

[Mount]
What=/dev/disk/by-id/virtio-CONFIG
Where=/etc/summit-connect/config
Type=iso9660
Options=ro,relatime,nojoliet,check=s,map=n,blocksize=2048,iocharset=utf8

[Install]
WantedBy=multi-user.target