[Unit]
Description=Summit Connect Stockholm 2025 Demo Application
After=network.target
Wants=network.target

[Service]
Type=simple
DynamicUser=yes
ExecStart=/usr/local/bin/summit-connect serve backend --port 3001 --config /etc/summit-connect/config/datacenters.yaml --watch-vms
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
